body {
  width: 300px;
  max-height: 600px;
  margin: 0;
  padding: 5px;
  font-family: Arial, Helvetica, Sans-Serif;
}

pre {
  background-color: gainsboro;
  width: 85%;
  margin: 10px auto 15px;
  padding: 7px;
  border-radius: 3px;
  max-height: 200px;
  overflow-y: scroll;
}

pre p {
  margin: 0;
}

#icon-bar {
  width: 100%;
  overflow: auto;
}

#icons {
  margin: 4px auto 0;
  width: 50%;
  overflow: auto;
}

#content-buttons {
  text-align: center;
  margin: 10px auto 15px;
}

#content-buttons span {
  background-color: #555;
  padding: 4px 12px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease;
  font-size: 14px;
}

#content-buttons span:hover {
  background-color: #04AA6D;
}

#command-list {
  width: 80%;
  margin: auto;
  padding: 2px 5px;
}

#command-list code {
  background-color: gainsboro;
  padding: 2px 4px;
  border-radius: 2px;
}

.tab {
  width: 38px !important;
  text-align: center;
  padding: 4px 0 0;
  transition: all 0.3s ease;
  color: black;
  font-size: 36px;
  height: 54px;
}

.tab::after  {
  position: relative;
  bottom: 27px;
  content: "";
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: transparent;
  border-radius: 2px;
  -webkit-transition: 0.1s all ease-in;
  transition: 0.1s all ease-in;
}

.tab:hover:not(.active)::after {
  background-color: #737373;
}

.active::after {
  background-color: black;
}

.tab-content {
  display: none;
}

.active-content {
  display: block;
}

.tab:first-of-type {
  float: left;
}

.tab:last-of-type {
  float: right;
}

#slot-selection-container {
  padding: 5px;
  margin: 5px;
}

.header {
  padding: 8px;
  text-align: center;
  margin: 10px auto 0;
  width: calc(75% - 10px);
  border-bottom: 1px solid gray;
}

.char-circle {
  display: inline-block;
  margin: 0 5px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding: 8px;
  background: #555;
  color: white;
  text-align: center;
  font-size: 28px;
  cursor: pointer;
  transition: all 0.3s ease;
}

body *:not(#copy-page #copied-content *)::selection {
  background-color: transparent;
}

.active-char-circle, .char-circle:hover {
  background-color: #04AA6D;
}

.circle-row {
  margin: 5px 0;
  text-align: center;
}
